# Visual studio
.vs/
Debug/
Release/
ReleaseWithAssert/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.psess
*.vspx
*.vsp
*.diagsession
*.hint

# testing
a.out
a.out.js
a.out.wasm
main.s
#main.cpp
test.json # generated

# wip
encoding_old.hpp