# Visual studio
.vs/
Debug/
Release/
ReleaseWithAssert/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.psess
*.vspx
*.vsp

# testing
a.out
a.out.js
a.out.wasm
main.s
main.cpp
test.json

# wip
encoding.hpp